body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: orange ;
}
header h1 {
    font-size: 2em;
    margin: 0;
}
header img {
        border-radius 50%; 50%
        margin-top: 10px;
        width: 200px;
        height: 200px;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

 nav ul li {
    display: inline;
    margin-right: 20px
}
    
 nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

h2{
    font-size: 1.5em;
    margin-bottom: 10px;
    color: blue;
}

#email{
    font-size: 20px;
    color: lawngreen;
}