body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0 ;
}
header h1 {
    font-size: 2em;
    margin: 0;
}
header nav{
    display: flex;
}
header nav ul{
    list-style: none;
    padding: 0
    margin 0;
}
header nav li {
    margin-right: 20px;
}
main {
    padding: 20px;
}
section{
    margin-bottom: 20px;
}
h2{
    font-size: 1.5em;
    margin-bottom: 10px;
    color: blue;
}
.profilepic{
    height: 200px;
    width: 200px;
}
#email{
    font-size: 20px;
    color: lawngreen;
}
.grid-container{
    display: grid;
    grid: 150px;
}